<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create a New Campground</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/plans" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="type" placeholder="What is the scope of this plan - year, semester, unit, or single lesson?">
                    <!--this will eventually be a dropdown menu of these types-->
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="Author" value="<% currentUser._id %>">
                    <!--want to remove this and have this eventually default to the parent of this lesson-->
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="grade" placeholder="What grade is this Lesson for">
                    <!--want to remove this and have this eventually default to the parent of this lesson-->
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="subject" placeholder="What class/subject is this Lesson for">
                    <!--want to remove this and have this eventually default to the parent of this lesson-->
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="unit" placeholder="What unit is this?">
                    <!--want to remove this and have this eventually default to the parent of this lesson-->
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="parent" placeholder="Who does this plan belong to?">
                    <!--want to remove this and have this eventually default to the parent of this lesson-->
                </div>
                <div class="form-group">
                    <input id="plan-body" class="form-control" type="text" name="body" placeholder="write your plan!">
                    <!--want to remove this and have this eventually default to the parent of this lesson-->
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>
